<!DOCTYPE html>
<html>
<head>	
<body>
<div class="container">
<div class="col-md-8">

		<h1>What is Techno waste?</h1>
<p>Technotrash, also called electronic waste or
e-waste, is any broken or unwanted electrical device, and is currently the most fast-growing type of waste. </p>

<p>Informal recycling in South Africa,especially in townships, residents(namely car mechanic and electronic devices at home) have little understand about e-waste and often dealt with techno waste in the most careless manner.For instance,the cutting up  and burning of e-waste products in nearby dump site or backyards.</p>

<p>If you just throw away technotrash with the regular trash, it usually ends up in a landfill. Most electronics contain non-biodegradable materials, and heavy metals and toxic materials like cadmium, lead and mercury. Over time, these toxic materials can leak into the ground, where they can contaminate the water we drink, the plants we eat and the animals that live around the area. </p>

<p>These toxic materials can cause all kinds of bad effects including nausea, diarrhea, vomiting and even cancer. If you keep eating and drinking contaminated food and water, these toxins can build up in your body. If you eat animals that have been contaminated, you're getting a double dose of toxins. What's even worse, your body can't properly process some of these metals and so they might take years to get out of your system.</p>


<h4><strong>Tip for recycling techo waste</strong></h4>

<p>To help protect the environment, don't put technotrash in with the rest of your household's garbage. Check with your local recycling centers to see if they take technotrash, or look for other recycling places nearby,below. You can also ship it to a Pick 'n Pay supermarket ,the also accommodate e-waste. 
And when you recycle and the electronic products will used for its original purpose. Your tech products can be used again to build something new.</p>
</div>
<div class="col-md-4">
<h4><strong>Raise Some Funds</strong></h4>
<p><h4>Because electronics contain precious metals including gold, silver and copper, technotrash can actually be worth a little money. Why not hold a community fundraiser to collect and dispose of everyone's technotrash? You'll be helping both your community and the environment at the same time!</h4></p>
</div>
<img src="ewaste_flyer"></img>
</div>
</body>
</html>
