    
<!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to EnviroWise
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> BIN TO BE COLLECTED</h4>
                    </div>
                    <div class="panel-body">
                        <div class="checkbox">
                    <label>
                 <input type="checkbox"> My Bin is full
                        </label>
                </div>
                       <button type="submit" class="btn btn-success">Collected</button>
                    </div>
                </div>
            </div>
          <div class="col-md-6 col-md-offset-2">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
   
        <!-- /.row -->
            
        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">EnviroWise</h2>
            </div>
            <div class="col-md-6">
                <p>Technotrash:</p>
                <ul>
                    
                    <li>Unwanted electrical device</li>
                    <li>electronics contain non-biodegradable materials</li>
                   
                </ul>
                <p>Takin care of the enviroment means taking care of yourself.</p>
            </div>
            
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p><b>Tip for recycling techo waste</b> <br><br><br>
                        To help protect the environment, don't put technotrash in with the rest of your household's garbage. Check with your local recycling centers to see if they take technotrash, or look for other recycling places nearby,below. You can also ship it to a Pick 'n Pay supermarket ,the also accommodate e-waste. </p>
                </div>
               {{!--  <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div> --}}
            </div>
        </div>
     

