<DOCTYPE html>
<html lang = "en">
<head>
<title>
signup page
</title>
<head>
<title>login</title>
</head>
<body>
<div id = "container">
    <ul class ="people_list">
        <h1>Login</h1>
        <form method ="POST" action= "login">

            Username:<br /><input type="username"name="username" placeholder="username" input value="" class='username'/><br />
            Password:<br /><input type="password" name="password" value="" placeholder="Password" required autofocus><br />
            <br /><input type = "submit"/>
        </form>
        <h3>You don't have an account sign up <a href="/signup">here</a><h3>
    </ul>
</div>
    <script>


  $('form').on('submit',function(){
  $(this).find('.password').remove();
  //  get each form input for validation

  var username = $('#username').val().trim(),
      name = $('#name').val().trim(),
      password = $('#password').val().trim(),
      role = $('#role').val().trim();

  //  check for empty fields

  if (username === ""){
    $('#username')
      .focus()
      .after('<span class="message">Please fill in your username!</span>');
  }
  else if (password === ""){
    $('#password').focus().after('<span class="message">Please fill in your password!</span>');
  }
  else if (role === ""){
    $('#role').focus().after('<span class="message">Please add your role!</span>');
  }else if
    (name === ""){
      $('#name')
      .focus()
      .after('<span class="message">Please fill in your name!</span>');
  }

  // Test AJAX
  else{
    $.ajax({
      success: function(){
        $('form').hide();
        $('.container').empty().append("<h2 class='text-center'>Information has been submited. Thank you!</h2><h3 class='text-center'>Please reload to start over</h3>");
      }
    });
  }
  return false; // prevent form from submitting
});

</script>


</body>

</html>
