<!doctype html>
<html>
<head>

    </style>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/main_page.css">
    <link href='static/css/simplesidebar.css' rel='stylesheet' type='text/css'>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800' rel='stylesheet' type='text/css'>
  </head>

  <form action="#" method="POST" name="my_form">
      <h2>New to  <sign>Sign Up</span></h2>
      <input type="text" name="sign_up_username" id="sign_up_username" placeholder="email address">
      <!--for and ID attributes should be the same-->
      <input type="password" name="sign_up_password" id="sign_up_password" placeholder="password">

      <input type="submit" name="sign_up_submit" id="sign_up_login" value="Sign up">
  </form>

</body>

</html>
